NUXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NUXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NUXT_PUBLIC_WHATSAPP_NUMBER=919876543210
NUXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/thashattire
